
/* Your CSS Code here. */
.grid-container{
    background-color: aqua;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.grid-container>div{
    width: 100px;
    margin: 5px;
    font-size: 25px;
    background-color: blue;
    text-align: center;
    padding: 15px;
}